/*
    Colors
    Black : #1b1f38
    Cyan : #54cbe1
    Green : #149d79
    Red : #d34454
*/

body{
    background-color: #282528;
    margin: 0;
    overflow: hidden;
    position: relative;

    display: flex;
    flex-direction: row;
}

h1{
    color: white;
    font-size: 69px;
}

#header{
    position: absolute;
}

.Sidenav{
    width: 25%;
    padding: 16px;
    background-color: #d34454;
    height: 100vh;

    display: flex;
    justify-content: center;
}

.sideNavBtns{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
}

.sideNavBtns button{
    width: 200px;
    margin-bottom: 10px;
    margin-top: 10px;

    font-family: "Comic Sans MS", sans-serif;
    font-weight: 900;
    font-size: 22px;

    background-color: white;

    border-style: solid;
    border-width: 2.5px;
    border-color: #54cbe1;

    border-radius: 50px;

    padding: 10px 20px 10px 20px;

    transition: 250ms;
}

.sideNavBtns button:hover{
    background-color: #54cbe1;
    font-size: 24px;
    transition: 250ms;
    color: white;
}

.config{
    display: flex;
    justify-content: center;
    flex-direction: column;

    font-size: 16px;

    padding: 2rem;

    background-color: #149d79;
}

.config input{
    border-width: 2px;
    border-color: #54cbe1;

    height: 50px;
    font-size: 20px;
    font-weight: bold;

    padding-left: 15px;
    border-radius: 25px;
}

.hidden{
    display: none;
}

.add{
    width: 100px;
    margin-top: 10px;

    font-family: "Comic Sans MS", sans-serif;
    font-size: 18px;

    background-color: white;

    border-style: solid;
    border-width: 2.5px;
    border-color: #54cbe1;

    border-radius: 50px;

    padding: 10px 20px 10px 20px;

    transition: 250ms;
}

.add:hover{
    background-color: #54cbe1;
    font-size: 24px;
    transition: 250ms;
    color: white;
}