body{
    margin: 0;

    display: flex;
    color: #101828;
}

nav{
    min-width: 255px;
    max-width: 255px;
    height: 100vh;

    border-right: 1px solid #E5E7EB;
}

nav header{
    padding: 24px 24px 24px;
    display: flex;

    align-items: center;
    border-bottom: 1px solid #E5E7EB;
}

nav header svg{
    background: #155DFC;
    padding: 8px;
    border-radius: 10px;

    margin-right: 12px;
}

nav button{
    text-align: start;
    padding: 14px 16px;
    gap: 12px;

    border: none;
    border-radius: 10px;
    background: white;

    color: #364153;
    font-size: 18px;
    font-weight: 600;

    display: flex;
    align-items: center;
}

nav button svg{
    stroke: #364153;
}

nav button:hover{
    background: #F9FAFB;
}

main{
    width: 870px;
    padding: 32px 0 0 32px;
}

section h2{
    font-size: 30px;
}

section article{
    display: flex;
    padding: 24px 24px 24px 24px;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1.5rem;

    border-radius: 14px;
    border: 1px solid rgba(0, 0, 0, 0.10);
}

label{
    color: #0A0A0A;
    font-size: 14px;
    font-weight: 500;
}

.label{
    color: #0A0A0A;
    font-size: 14px;
    font-weight: 500;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.d-flex{
    display: flex;
}

.m-0 {
    margin: 0;
}

.h2{
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
}

.color-secondary{
    color: #4A5565;
}

.subHeader{
    font-size: 16px
}

.active-btn{
    background: #EFF6FF;
    color: #155DFC;
}

.active-btn svg{
    stroke: #155DFC; !important;
}

.hidden{
    display: none;
}

.grey-input{
    padding: 4px 12px;
    align-items: center;
    height: 32px;
    width: 100%;

    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.00);
    background: #F3F3F5;
}

.standard-input{
    align-items: center;
    flex-shrink: 0;
    align-self: stretch;
    height: 32px;
    width: 100%;
    margin-top: 5px;

    border-radius: 10px;
    border: 1px solid #D1D5DC;
}

.add-btn{
    display: flex;
    padding: 8px 10px 8px 10px;
    justify-content: center;
    align-items: center;
    gap: 7px;

    border-width: 0;
    border-radius: 8px;
    background: #030213;

    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    text-wrap: nowrap;
}

.add-btn:hover{
    background: #1D1C2B;
}

.no-block-message{
    margin: 50px 0;
    text-align: center;
    width: 100%;
    font-size: 16px;

}

.week-days-container{
    display: grid;
    height: 80px;
    row-gap: 8px;
    column-gap: 8px;
    flex-shrink: 0;
    align-self: stretch;
    grid-template-rows: repeat(2,minmax(0,1fr));
    grid-template-columns: repeat(4,minmax(0,1fr));
}